/* overwrite prime vue style */
html:root {
  --p-splitter-gutter-background: transparent;
  --p-splitter-background: transparent;
  --p-splitter-border-color: transparent;
  --p-splitter-handle-size: 100%;
  --p-splitter-handle-focus-ring-color: red;

  --p-tree-node-selected-background: var(--p-surface-200);
  --p-tree-node-selected-color: var(--p-surface-950);
  --p-tree-node-toggle-button-size: 20px;
}

.p-splitter {
  border: none !important;
}
